<div class= "projects-container">
  <div class ="card">
    <h3>Brick Breaker Game</h3> 
    <p>The old classic brick breaker game with a new sized paddle after breaking 20 bricks, and a bigger ball after picking up the power up in the top middle, there's also a point system which is show in the top left, and lastly when you break a brick a firework goes off!</p>
    <div class="row">
      <div class="col-md-6">
        <%= image_tag "level1.png", width: 400, height: 200, alt: "level1", class: 'level1' %>
        <hr>
        <%= image_tag "bigger the better.png", width: 400, height: 200, alt: "bigger the better", class: 'bigger the better' %>
        <hr>
        <%= image_tag "explosion.png", width: 400, height: 200, alt: "explosion", class: 'explosion' %>
      </div>
      <div class="col-md-6">
        <%= image_tag "lose screen.png", width: 400, height: 200, alt: "lose screen", class: 'lose screen' %>
        <%= image_tag "main screen.png", width: 400, height: 200, alt: "main screen", class: 'main screen' %>
        <hr>
        <h5> Roll a Ball</h5>
        <p>use arrow keys to roll a ball around and pick up cubes!</p>
        <p> want to play? 
        <%= link_to "Click Here", "https://preview.c9users.io/jookertv/jesse-workspace/rollaball/index.html", :target => "_blank" %>
        <%= image_tag "roll a ball.png", width: 400, height: 170, alt: "roll a ball", class: 'roll a ball' %>
      </div>
    </div>
  </div>
</div>