<div class= "projects-container">
  <div class ="card">
    <h5>Brick Breaker Game</h5> 
    <p>The old classic brick breaker game with a new sized paddle after breaking 20 bricks, and a bigger ball after picking up the power up in the top middle, there's also a point system which is show in the top left, and lastly when you break a brick a firework goes off!</p>
    <p>In this project I learned more about particals and how to make small animations, I also learned more about collisions and materials which made the ball able to bounce, I learned about boundaries and how to Implement them, Lastly I learned how to add audio to a game and have audio effects.</p>
    <div class="row">
      <div class="col-md-6">
        <%= image_tag "level1.png", width: 350, height: 150, alt: "level1", class: 'level1' %>
        <hr>
        <%= image_tag "bigger the better.png", width: 350, height: 150, alt: "bigger the better", class: 'bigger the better' %>
        <hr>
        <%= image_tag "explosion.png", width: 350, height: 150, alt: "explosion", class: 'explosion' %>
      </div>
      <div class="col-md-6">
        <%= image_tag "lose screen.png", width: 350, height: 150, alt: "lose screen", class: 'lose screen' %>
        <%= image_tag "main screen.png", width: 350, height: 150, alt: "main screen", class: 'main screen' %>
        <hr>
        <h5> Roll a Ball</h5>
        <p>use arrow keys to roll a ball around and pick up cubes!</p>
        <p>This is how I got into unity, it taught me the basic collsions of unity, how to spawn items, and how to use the xyz axis.</p>
        <p> want to play? 
        <%= link_to "Click Here", "https://preview.c9users.io/jookertv/jesse-workspace/rollaball/index.html", :target => "_blank" %></p>
        <%= image_tag "roll a ball.png", width: 350, height: 150, alt: "roll a ball", class: 'roll a ball' %>
      </div>
    </div>
  </div>
</div>